<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanushare.springproject.repository.category.CategoryRepository"> 
	<resultMap type="com.nanushare.springproject.domain.category.ProdCateVO" id="prodCateMap">
		<result column="prod_cate_id" property="prodCateId"/>
		<result column="prod_cate_name" property="prodCateName"/>
		<result column="prod_cate_order" property="prodCateOrder"/>
		<result column="prod_cate_parent_id" property="prodCateParentId"/>
	</resultMap>
	
	<!-- 상품카테고리 select, prodCateParentId를 받아 하위 카테고리를 조회, prodCateParentId가 0이면 상위cate 조회-->
	<select id="selectProdCate" resultMap="prodCateMap" resultType="com.nanushare.springproject.domain.category.ProdCateVO"><!-- //resultMap="prodCateMap"  -->
		 select prod_cate_id, prod_cate_name, prod_cate_order, prod_cate_parent_id
		 from PRODUCT_CATE_TB
	 <if test="prodCateParentId==0">
	 	where Prod_cate_parent_id is null
	 </if>
	 <if test="prodCateParentId!=0">
	 	where Prod_cate_parent_id = #{prodCateParentId}
	 </if>
		 order by Prod_cate_order;
	</select>
		
</mapper>