<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nanushare.springproject.repository.nanum.NanumRepository"> 
	<resultMap type="com.nanushare.springproject.domain.nanum.NanumVO" id="nanumMap">
		<result column="na_id" property="nanumId"/>
		<result column="na_delivery" property="nanumDelibery"/>
		<result column="na_title" property="nanumTitle"/>
		<result column="na_content" property="nanumContent"/>
		<result column="na_write_date" property="nanumDate"/>
		<result column="na_choice_num" property="nanumChoiceNum"/>
		<result column="na_end_date" property="nanumEndDate"/>
		<result column="na_state" property="nanumState"/>
		<result column="na_delete_check" property="nanumDeleteCheck"/>
		<result column="na_hits" property="nanumHits"/>
		<result column="category_id" property="nanumCategoryId"/>
		<result column="na_writer" property="nanumWriter"/>
		<result column="na_method" property="nanumMethod"/>
		<result column="na_story_title" property="nanumStroyTitle"/>
		<result column="na_like_cnt" property="nanumLikeCnt"/>
	</resultMap>
	
	<insert id="nanumInsert" parameterType="com.nanushare.springproject.domain.nanum.NanumVO" useGeneratedKeys="true" keyProperty="id">
		insert into NANUSHARE_TB 
		values(#{nanumId},#{nanumDelibery},#{nanumTitle},#{nanumContent},NOW(),
				#{nanumChoiceNum},#{nanumEndDate},#{nanumState},#{nanumDeleteCheck},0,#{nanumCategoryId},
				#{nanumWriter},#{nanumMethod},#{nanumStroyTitle});
	</insert>
	
	<select id="listSearch" resultType="com.nanushare.springproject.domain.nanum.NanumVO" resultMap="nanumMap">
		<![CDATA[
			select *
			from NANUSHARE_TB
			where na_title like CONCAT('%',#{keyword},'%')
			order by na_write_date desc
		]]>
	</select>
	
	<select id="cateListSearch" resultType="com.nanushare.springproject.domain.nanum.NanumVO" resultMap="nanumMap">
		<![CDATA[
			select *
			from NANUSHARE_TB
			where category_id = #{ProdCateId}
			order by na_write_date desc
		]]>
	</select>
	
	<select id="subcateListSearch" resultMap="nanumMap">
		select *
		from NANUSHARE_TB
		where category_id = #{prodCateId}
		and na_title like CONCAT('%',#{keyword},'%')
		order by na_write_date desc
	</select>
	
	<update id="updateLikeCnt">
		update NANUSHARE_TB set na_like_cnt = na_like_cnt + #{amount} where na_id = #{nanumId}
	</update>

</mapper>